<div id="myAlert"></div>
<div class="navbar-container"></div>
<div class="helpContainer"></div>
<div class="loader-container"></div>
<div id="mapContainer" class="map-container content"></div>
<div class="resultsSmall-container"></div>
<!-- <div class="graph-container"></div> -->
<div class="bottomBar-container"></div>
<div class="report-container"></div>
<div class="calculator-container"></div>
<div class="geocoder-container"></div>
<div class="dataIssues-container"></div>
<div class="appIssues-container"></div>
<div class="email-container"></div>