<div class="appHelpModal modal fade">
    <div class="modal-dialog">
        <div class="modal-content appHelp">

            <div class="modal-header" id="appHelpHeader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11">
                            <div class='appIcon'>
                                <img src="assets/images/solar-app-transparent50.png">
                            </div>
                            <div class='appTitle'>
                                Minnesota Solar Suitability Analysis Tool
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default btn-danger closeSplash floatRight">
                                <i class="fa fa-times fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                  <div class="appHelpBody">
                      <h3>WELCOME</h3>
                      <p>Tap anywhere on this map of Minnesota to view solar radiation per square meter, or tap the <img src="assets/images/locate_button.gif" height="30px" style="margin-bottom:-10px;"/> icon to measure insolation at your current location. </p>
                      <div id="colorRamp"> 
                        <strong>LEGEND:</strong> <img src="assets/images/ramp_v2.png" style="padding-top:8px;max-width:250px;"/><br />
                      </div>
                      <div id="website">
                        <p><strong>LEARN MORE:</strong><br />
                          <a href="http://solar.maps.umn.edu/" style="color:#ff7400">solar.maps.umn.edu</a> </p>
                        <p> <br />
                      </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="dontShow">
                            <label for="dontShowCheckBox">
                                <span class="dontShowText">Don't show this again for 30 days. (Access from Menu)</span>
                                <input type="checkbox" id="dontShowCheckBox" class="dontShowCheckBox pull-right">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->