<div class="appHelpModal modal fade">
    <div class="modal-dialog">
        <div class="modal-content appHelp">

            <div class="modal-header docModal-header" id="appHelpHeader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <button aria-label="Close" data-dismiss="modal" class="close closeButton pull-right" type="button"></button>
                            <div class='appIcon'>
                                <img src="assets/images/solar-app-transparent50.png">
                            </div>
                            <div class='appTitle'>
                                <%=title%>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="modal-body docModal-body helpModal-body">
                <div class="row">
                    <div class="col-md-12">
                      <h3>WELCOME</h3>
                      <p>Tap anywhere on this map of Minnesota to view incident solar radiation (insolation) per square meter, or tap the <i class="fa fa-location-arrow fa-2x"></i> icon to measure insolation at your current location. </p>
                    </div>
                </div>
                <div class="row bottomSpace">
                    <div class="col-md-8">
                        <div id="colorRamp"> 
                            <strong>SHADE</strong><img src="assets/images/color_ramp_white_text_no_labels.png" style="padding-bottom:10px;padding-top:8px;max-width:250px;"/><strong>SUN</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="website">
                            <h4>LEARN MORE:</h4>
                            <a href="http://solar.maps.umn.edu/" style="color:#ff7400">solar.maps.umn.edu</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 center pull-middle">
                            <a href="http://mn.gov/commerce/" target="_blank">
                                <img src="assets/images/doc_logo.png" class="logo">
                            </a>
                    </div>
                    <div class="col-md-2 center pull-middle">
                            <a href="http://www.umn.edu" target="_blank">
                                <img src="assets/images/UMN_M_white.gif" class="logo">
                            </a>
                    </div>
                    <div class="col-md-3 center pull-middle">
                            <a href="http://respec.com/" target="_blank">
                                <img src="assets/images/respec.png" class="logo">
                            </a>
                    </div>
                    <div class="col-md-2 center pull-middle">
                            <a href="http://www.cleanenergyresourceteams.org/" target="_blank">
                                <img src="assets/images/certs.png" class="logo">
                            </a>
                    </div>
                    <div class="col-md-2 center pull-middle">
                            <a href="http://www.esri.com" target="_blank">
                                <img src="assets/images/powered-by-esri-logo-med.png" class="logo">
                            </a>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.modal-body -->

            <div class="modal-footer docModal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="dontShow pull-right">
                            <label for="dontShowCheckBox">
                                <span class="dontShowText">Do not show this again for 30 days</span>
                                <input type="checkbox" id="dontShowCheckBox" class="dontShowCheckBox pull-right">
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-footer -->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
