<div id="bottomBar" style='position: absolute'>
    <div class="container-fluid">
        <div class="row" style="padding-top:5px">
            <div class="col-md-4">
                <img src="assets/images/color_ramp_white_text.png" class="imgCenter" id="colorRamp">
            </div>

            <div class="col-md-4">
                <div class="baseMapToggle" style="margin-left:25%;">
                    <div class="btn-group">
                    <button type="button" id="solarButton" class="btn btn-default btn-group_leftButton activeButton appButton">Solar</button>
                    <button type="button" id="aerialButton" class="btn btn-default appButton">Aerial</button>
                    <button type="button" id="streetButton" class="btn btn-default appButton btn-group_rightButton">Streets</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-default menuButton appButton" id="modalTest">modal
                    <i class="fa fa-caret-up"></i>
                </button>
                <button type="button" class="btn btn-default menuButton appButton" id="resultsButton">Results
                    <i class="fa fa-caret-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>