<div id="resultsSmall">  
    <div class="container-fluid">
        <!-- Divide buttons from other details-->
        <div class="row">
            
            <!-- Data -->
            <div class="col-md-12">

                <!-- Data Columns -->
                <div class="row">
                    
                    <!-- Quick solar results -->
                    <div class="col-md-4">
                        <button id="closeResultsTop" aria-label="Close" data-dismiss="modal" class="close closeButton pull-right closeResultsTop" type="button"></button>
                        <div class="resultHeader">
                            <span>Results Preview</span>
                        </div>
                        <div class="resultsPreview1 noselect" id="results">
                            <div>
                                
                                <div class="progressBar progress progress-width gradient center">

                                    <div class="progress-bar showGradient" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <span class="center"></span>
                                    </div>
                                </div>
                                
                                <div id="progress-labels" class="progress-width center bottomSpace progress-labels"><!-- Do not remove these comments (needed to eliminate space between inline block elements)
                                --><div id="labelPoor">Poor</div><!-- removing space
                                    --><div id="labelFair">Fair</div><!-- removing space
                                    --><div id="labelGood">Good</div><!-- removing space
                                    --><div id="labelOptimal">Optimal</div><!-- removing space
                            --></div>
                                <div class="center bottomSpace">
                                    Percent of Total Available Solar<% if(bareEarth === 1) { %>**<% } %>
                                </div>
                            </div>

                            <div class="topSpace">
                                <p class="paragraphIndent">
                                    Your site is <span class="valueHelp"><%=quality%></span>. You would need a <span class="valueHelp"><%=systemSize.toFixed(2)%> kW</span> solar PV system to generate <span class="valueHelp"><%=solarPercent*100%>%</span> of your power. This system would cost approximately <span class="valueHelp"><%=averageCostSystemAsCurrency%></span>. With <a href="<%=madeInMn%>" target="_blank" class="madeInMn">Made in Minnesota</a> and other incentives estimated system payback is <span class="valueHelp"><%=payback.toFixed(1)%> years</span>.<!-- Display warning ** -->
                                
                                </p>
                            </div>

                            <!-- Buttons -->
                            <div class="center">
                            <button type="button" class="btn btn-default btn-solar reportControls" id="viewReport">
                                <span id="viewReportLink">Full Report</span>
                                <i class="fa fa-print"></i>
                            </button>
                        
                            <button type="button" class="btn btn-default btn-solar reportControls" id="emailReport">
                                <span id="emailReportLink">Share Results</span>
                                <i class="fa fa-envelope-o"></i>
                            </button>

                            <button type="button" class="btn btn-default btn-solar reportControls" id="dataIssue">
                                <span id="dataIssuesLink">Problem?</span>
                                <i class="fa fa-exclamation-circle"></i>
                            </button>
                            </div>
                        </div>                     
            
                    </div> <!-- end col -->

                    <!-- histogram -->
                    <div class="col-md-4">
                        <div class="resultHeader">
                            <div class="chartTitle">Total Sun Hours By Month</div>
                        </div>
                        <div class="resultsDisplay noselect" id="sunHrsHisto"></div>

                    </div>

                    <!-- getting started col -->
                    <div class="col-md-4">
                        <button id="closeResultsRight" aria-label="Close" data-dismiss="modal" class="close closeButton pull-right closeResultsRight" type="button"></button>

                        <div class="resultHeader bottomSpace">
                            <span>Next Steps</span>
                        </div>
                        <div class="paragraphIndent topSpace">
                        <ol class="getstarted">
                            <% if(quality === 'Poor'){%>
                                <li>
                                    Location not ideal, consider <a href="<%= solarGardens %>" target="_blank">Community Solar Gardens</a>
                                </li>
                            <% } else {%>
                                <li>
                                    <% if (typeof(utilityCompany) !== "undefined"){
                                        if(utilityCompany.hasOwnProperty('zip')) { %>
                                            <a href="<%= mnInstallers %><%=parseInt(utilityCompany.zip, 10)%>" target="_blank">Contact a Local Installer</a>
                                        <% } else {%>
                                            No zip code information available.  Please report bad data <span class="badData">here</span>.
                                        <% } %>
                                    <% } %>
                                </li>
                            <% } %>

                            <li>
                                <a href="<%= mnIncentives %>" target="_blank">MN Incentives/Policies for Solar</a>
                            </li>

                            <li>
                                <a href="" id="nearbySolarLink">Map nearby solar installations</a>
                            </li>
                            <li>Contact your utility service provider: <br>
                                <% if (typeof(utilityCompany) !== "undefined") {%>
                                   <a href="http://<%=utilityCompany.website%>" target="_blank"><%=utilityCompany.fullName%></a>
                                    <!-- <a href="tel:+1-' + <%=utilityCompany.phone.slice(1, 4)%> + '-' + <%=utilityCompany.phone.slice(6, 14)%>"><%=utilityCompany.phone%></a> -->
                                <% } %>
                            </li>
                            </ol>
                            
                            <!-- Display bare earth warning msg -->
                            <% if(bareEarth === 1) { %>
                                <div>
                                    **
                                    <small><em>The <a href="http://www.mngeo.state.mn.us/chouse/elevation/lidar.html"  target="_blank"><%=lidarCollect%> MN Lidar</a> source data available for <span class="valueHelp"><%=county%> County</span> contains only bare earth points. Hence, these results do not take shade from nearby features into consideration.</em></small>
                                </div>
                            <% } else { %>
                                <div class="small topSpace">
                                    Source Data: <a href="http://www.mngeo.state.mn.us/chouse/elevation/lidar.html"  target="_blank">MN Lidar (<%=lidarCollect%>)</a>
                                </div>
                            <% } %>
                           
                        </div>
                            
                        
                    </div>
                </div>
            </div>
        </div> <!-- ROW END -->
    </div> <!-- CONTAINER END --> 
</div> <!-- END ResultsSmall -->