<div id="helpScreen">
  <h3>WELCOME</h3>
  <p>Tap anywhere on this map of Minnesota to view solar radiation per square meter, or tap the <img src="assets/images/locate_button.gif" height="30px" style="margin-bottom:-10px;"/> icon to measure insolation at your current location. </p>
  <div id="colorRamp"> 
    <strong>LEGEND:</strong> <img src="assets/images/ramp_v2.png" style="padding-top:8px;max-width:250px;"/><br />
  </div>
  <div id="website">
    <p><strong>LEARN MORE:</strong><br />
      <a href="http://solar.maps.umn.edu/" style="color:#ff7400">solar.maps.umn.edu</a> </p>
    <p> <br />
      <span class='closeSplash'>(X) CLOSE</span> </p>
  </div>
</div>