<div id="myAlert hidden-print"></div>
<div class="navbar-container hidden-print"></div>
<div class="helpContainer hidden-print"></div>
<div class="loader-container hidden-print"></div>
<div id="mapContainer" class="map-container content hidden-print"></div>
<div class="resultsSmall-container hidden-print"></div>
<!-- <div class="graph-container"></div> -->
<div class="bottomBar-container hidden-print"></div>
<div class="report-container"></div>
<div class="calculator-container hidden-print"></div>
<div class="geocoder-container hidden-print"></div>
<div class="dataIssues-container hidden-print"></div>
<div class="appIssues-container hidden-print"></div>
<div class="email-container hidden-print"></div>