<div class="emailModal modal fade">
    <div class="modal-dialog">
        <div class="modal-content email">

            <div class="modal-header" id="emailHeader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11">
                            TEST HEADER
                        </div>
                        <div class="col-md-1">
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="emailBody">
                      
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->