<div class="emailModal modal fade">
    <div class="modal-dialog">
        <div class="modal-content email">

            <div class="modal-header" id="emailHeader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11">
                            Email Report
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default closeSplash floatRight">
                                <i class="fa fa-times fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="emailBody">
                        <form class="form-horizontal emailForm">

                        <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="emailName">Your Name:</label>
                                <div class="controls">
                                    <input id="emailName" name="emailName" type="text" placeholder="  Enter name..." class="input-xlarge fullField" required="">
                                </div>
                            </div>

                        <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="emailEmail">Your Email:</label>
                                <div class="controls">
                                    <input id="emailEmail" name="emailEmail" type="text" placeholder="  Enter email..." class="input-xlarge fullField" required="">
                            
                                </div>
                            </div>
                            <hr />
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="recipEmail">Recipient Email:</label>
                                <div class="controls">
                                    <input id="recipEmail" name="recipEmail" type="text" placeholder="  Enter email..." class="input-xlarge fullField" required="">
                            
                                </div>
                            </div>

                            <!-- Textarea -->
                            <div class="control-group">
                              <label class="control-label" for="customMsg">Custom Message:</label>
                              <div class="controls">                      
                                <textarea class="form-control input-xlarge fullField" id="customMsg" name="customMsg"></textarea>
                              </div>
                            </div>

                        <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="emailSubmit"></label>
                                <div class="controls">
                                    <button id="emailSubmit" name="emailSubmit" class="btn btn-success emailSubmit" type="button">Submit</button>
                                    <!-- <a id="emailSubmit"  name="emailSubmit" class="btn btn-success" role="button"> -->
                                        <!-- Submit -->
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->