<div class="dataIssuesModal modal fade">
    <div class="modal-dialog">
        <div class="modal-content dataIssues">

            <div class="modal-header docModal-header" id="dataIssuesHeader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <button aria-label="Close" data-dismiss="modal" class="close closeButton pull-right" type="button"></button>
                            <div class='appTitle'>
                                Report an Issue with Minnesota Solar Suitability data
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="modal-body docModal-body">
                <div class="row">
                    <div class="col-md-12 dataIssuesBody">

                    <form class="form-horizontal dataIssuesForm">

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="dataIssuesName">Name:</label>
                            <div class="controls">
                                <input id="dataIssuesName" name="dataIssuesName" type="text" placeholder="  Enter name..." class="input-xlarge" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="dataIssuesEmail">Email:</label>
                            <div class="controls">
                                <input id="dataIssuesEmail" name="dataIssuesEmail" type="text" placeholder="  Enter email..." class="input-xlarge" required="">

                            </div>
                        </div>

                        <div class="control-group selectBadDataControlGroup">
                            <label class="control-label" for="dataIssuesEmail">Select Location:</label>
                            <div>
                                <div class="btn-group selectBadData">
                                    <button type="button" class="btn btn-solar selectBadDataButton">Select Location</button>
                                    <button type="button" class="btn btn-solar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu selectBadDataOption">
                                        <li><a href="#">Last Query</a></li>
                                        <li><a href="#">Select Area</a></li>
                                        <li><a href="#">Enter Location</a></li>
                                    </ul>
                                </div>
                                <div class="selectBadDataSuccess messageDisplay">
                                    <div class="selectBadDataSuccessIcon messageIcon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="selectBadDataSuccessMsg">
                                    </div>
                                </div>
                                <div class="selectBadDataWarning messageDisplay">
                                    <div class="selectBadDataWarningIcon messageIcon">
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </div>
                                    <div class="selectBadDataWarningMsg">
                                    </div>
                                </div>
                                <div class="selectBadDataError messageDisplay">
                                <div class="selectBadDataErrorIcon messageIcon">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                                <div class="selectBadDataErrorMsg">
                                </div>
                            </div>
                        </div>
                        </div>

                        <!-- Textarea -->
                        <div class="control-group dataIssuesLocationGroup">
                            <label class="control-label" for="dataIssuesLocation">General Location:</label>
                            <div class="controls">                     
                                <textarea id="dataIssuesLocation" name="dataIssuesLocation" placeholder="  General location..."></textarea>
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="control-group">
                            <label class="control-label" for="dataIssuesDescription">Description:</label>
                            <div class="controls">                     
                                <textarea id="dataIssuesDescription" name="dataIssuesDescription" placeholder="  Data issue(s) description..."></textarea>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer docModal-footer">
                <div class="container-fluid">
                    <div class="row no-gutter">
                        <div class="controls">
                            <button id="dataIssuesSubmit" name="dataIssuesSubmit" class="btn btn-default btn-solar dataIssuesSubmit" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->