<div class="dataIssuesModal modal fade">
    <div class="modal-dialog">
        <div class="modal-content dataIssues">

            <div class="modal-header" id="dataIssuesHeader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-11">
                            <div class='appTitle'>
                                DATA ISSUES
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default btn-danger closeSplash floatRight">
                                <i class="fa fa-times fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                  <div class="dataIssuesBody">
                      Data issues form here
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
        
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->