<div class="container-fluid">
    <div class="row">
        <div id="headerBar">
            <div class="col-md-6 col-sm-4 col-xs-2">
                <div class="homeFindButtons">

                    <!-- Menu Dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle menuButton appButton iconButton" data-toggle="dropdown" id="menuButton">
                            <i class="fa fa-bars fa-2x" data-toggle="tooltip" data-placement="right" title="Menu"></i>
                        </button>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown" style="top:50px" id="menuDropdown">

                            <!-- XS collapsed menu -->
                            <div class="visible-xs-block">
                                <div class="menuTopic">Tools</div>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="menuItem homeButton">
                                    <div class="helpMenu">
                                        <a role="menuitem" tabindex="-1" href="#">Home</a>
                                    </div>
                                </li>
                                <li role="presentation" class="menuItem findMe">
                                    <div class="helpMenu">
                                        <a role="menuitem" tabindex="-1" href="#">Find Me</a>
                                    </div>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <div class="menuTopic">Basemaps</div>
                                <li role="presentation" class="divider"></li>

                                <li role="presentation" class="menuItem solarButton activeButton">
                                    <div class="helpMenu">
                                        <a role="menuitem" tabindex="-1" href="#">Solar</a>
                                    </div>
                                </li>
                                <li role="presentation" class="menuItem aerialButton">
                                    <div class="helpMenu">
                                        <a role="menuitem" tabindex="-1" href="#">Aerial</a>
                                    </div>
                                </li>
                                <li role="presentation" class="menuItem streetButton">
                                    <div class="helpMenu">
                                        <a role="menuitem" tabindex="-1" href="#">Streets</a>
                                    </div>
                                </li>

                                <li role="presentation" class="divider"></li>
                            </div>

                            <!-- Default menu -->
                            <div class="menuTopic">Information</div>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="menuItem helpMenu">
                                <div class="appHelp">
                                    <a role="menuitem" tabindex="-1" href="#">How to use the app?</a>
                                </div>
                                <div class="dataIssues">
                                    <a role="menuitem" tabindex="-1" href="#">Issues with the data?</a>
                                </div>
                                <div class="appIssues">
                                    <a role="menuitem" tabindex="-1" href="#">Issues with the app?</a>
                                </div>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <div class="menuTopic">Credits</div>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="menuItem helpMenu">
                                <div>
                                    <a href="http://mn.gov/commerce/energy/businesses/energy-leg-initiatives/made-in-minnesota/" target="_blank">
                                        Made in Minnesota (MiM)<br/>
                                        Solar Incentive Program
                                    </a>
                                </div>
                            </li>
                            <li role="presentation" class="menuItem">
                                <div class="helpImage">
                                    <a href="http://www.esri.com" target="_blank">
                                        <img src="assets/images/powered-by-esri-logo-med.png">
                                    </a>
                                </div>
                            </li>
                            <li role="presentation" class="menuItem">
                                <div class="helpImage">
                                    <a href="http://www.umn.edu" target="_blank">
                                        <img src="assets/images/UMN_M_white.gif">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                    <button type="button" class="btn btn-default menuButton appButton iconButton homeButton hidden-xs" id="" data-toggle="tooltip" data-placement="right" title="Re-center map">
                        <i class="fa fa-home fa-2x"></i>
                    </button>

                    <button type="button" class="btn btn-default menuButton appButton iconButton findMe hidden-xs"data-toggle="tooltip" data-placement="right" title="Find my location">
                      <i class="fa fa-location-arrow fa-2x"></i>
                    </button>

                    <!-- Basemap Dropdown -->
                    <div class="btn-group hidden-xs">
                        <button type="button" class="btn btn-default dropdown-toggle menuButton appButton iconButton noBorder" data-toggle="dropdown" id="basemapDropdown">
                            <i class="fa fa-globe fa-2x" data-toggle="tooltip" data-placement="right" title="Select basemap"></i>
                        </button>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown" style="top:50px" id="basemapDropdownContent">
                            <li role="presentation">
                                <div id="basemapSelectorText">
                                    Basemap Selector:
                                </div>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="activeButton solarButton">
                                <a href="#">
                                    <div class="container-fluid">
                                        <div class="row no-gutter">
                                            <div class="col-md-6 basemapGrid basemapImage">
                                                <img src="assets/images/solarBasemap.png">
                                            </div>
                                            <div class="col-md-6 basemapGrid basemapText">
                                                Solar
                                            </div>
                                            
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="aerialButton">
                                <a href="#">
                                    <div class="container-fluid">
                                        <div class="row no-gutter">
                                            <div class="col-md-6 basemapGrid basemapImage">
                                                <img src="assets/images/aerialBasemap.png">
                                            </div>
                                            <div class="col-md-6 basemapGrid basemapText">
                                                Aerial (Imagery)
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="streetButton">
                                <a href="#">
                                    <div class="container-fluid">
                                        <div class="row no-gutter">
                                            <div class="col-md-6 basemapGrid basemapImage">
                                                <img src="assets/images/streetsBasemap.png">
                                            </div>
                                            <div class="col-md-6 basemapGrid basemapText">
                                                Streets
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>

            <!-- <div class="col-md-4">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group baseMapToggle">
                        <button type="button" id="solarButton" class="btn btn-default btn-group_leftButton activeButton appButton">Solar</button>
                        <button type="button" id="aerialButton" class="btn btn-default appButton">Aerial</button>
                        <button type="button" id="streetButton" class="btn btn-default appButton btn-group_rightButton">Streets</button>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-4 visible-lg">
                <img src="assets/images/color_ramp_white_text.png" class="imgCenter headerColorRamp">
            </div> -->

            <div class="col-md-6 col-sm-8 col-xs-10">
                <div class="appBrand floatRight">
                    <div class='appIcon'>
                        <img src="assets/images/solar-app-transparent50.png">
                    </div>
                    <div class='appTitle'>
                        Minnesota Solar Suitability Analysis Tool
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>