/**
 * _appIssues.scss
 * Style modal dialog and form used for submitting bugs/issues with the application
 */

.appIssuesModal {
    width: 80%;
    height: auto;
    max-height: 75%;
    max-width: 625px;
    margin: auto;
}

.appIssuesBody {
    height: 50vh;
    max-height: 545px;
    overflow-y: auto;
}

.appIssues {
    color: $text-color;
}

.appIssuesForm {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
}

.appIssuesForm .control-group {
    color: #000;
    padding-left: 30px;
    padding-right: 30px;
}

#appIssuesName, #appIssuesEmail, #appIssuesDescription {
    width: 100%;
    margin-left: 15px;
}

#appIssuesDescription {
    height: 200px;
}

#appIssuesSubmit {
    margin-left: 15px;
}

.appIssuesFooter {}