.dataIssuesModal {
  width: 60%;
  height: auto;
  max-height: 75%;
  margin: auto;
}

.dataIssues {
  background-color:$overlay;
  color: $text-color;
}

.dataIssuesBody {

}

.dataIssuesFooter {

}
