/**
 * _dataIssues.scss
 * Style modal dialog and form used for submitting issues with the solar data
 */

.dataIssuesModal {
    width: 60%;
    height: auto;
    max-height: 75%;
    max-width: 625px;
    margin: auto;
}

/* Important part */
.modal-dialog {
    overflow-y: initial !important;
}

.dataIssues {
    color: $text-color;
}

.dataIssuesBody {
    height: 50vh;
    max-height: 345px;
    overflow-y: auto;
}

.dataIssuesForm {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
}

.dataIssuesForm .control-group {
    color: #000;
    padding-left: 30px;
    padding-right: 30px;
}

#dataIssuesName, #dataIssuesEmail, #dataIssuesDescription, #dataIssuesLocation {
    width: 100%;
    margin-left: 15px;
}

.messageDisplay {
    margin-left: 15px;
}

.messageIcon {
    float: left;
    padding-right: 5px;
}

.selectBadDataWarningIcon {
    color: yellow;
}

.selectBadDataSuccessIcon {
    color: green;
}

.selectBadDataErrorIcon {
    color: red;
}

#dataIssuesDescription {
    height: 115px;
}

.dataIssuesLocationGroup, .selectBadDataSuccess, .selectBadDataWarning, .selectBadDataError {
    display: none;
}

#dataIssuesSubmit {
    margin-left: 15px;
}

.dataIssuesFooter {}

.selectBadData {
    margin-left: 15px;
    width: 50%;
}