.emailModal {
  width: 80%;
  height: auto;
  max-height: 75%;
  margin: auto;
}
.email {
  background-color:$overlay;
  color: $text-color;
}

.emailBody {
    height: 47vh;
    max-height: 358px;
    overflow-y: auto;
}

.emailForm {
  width:100%;
  background-color: #fff;
  // border-radius: 30px;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top:20px;
  // padding-top:20px;
  padding: 21px;
  
}

.emailForm .control-group{
  color: #000;
  // padding-left:30px;
  // padding-right:30px;
}

.emailReportToMeLabel{
  color:black;
}

.fullField {
  width:100%;
  margin-left: 15px;
}

#emailDescription {
  height:200px;
}

#emailSubmit {
  margin-left: 15px;
} 

.emailFooter {

}
