/**
 * _email.scss
 * Style modal dialog and form used for sending solar summary email
 */

.emailModal {
    width: 80%;
    height: auto;
    max-height: 75%;
    max-width: 525px;
    margin: auto;
}

.email {
    background-color: $overlay;
    color: $text-color;
}

.emailBody {
    height: 47vh;
    max-height: 358px;
    overflow-y: auto;
}

.emailForm {
    width: 100%;
    background-color: #fff;
    padding: 21px;
}

.emailForm .control-group {
    color: #000;
}

.emailReportToMeLabel {
    color: black;
}

.fullField {
    width: 100%;
    margin-left: 15px;
}

#emailDescription {
    height: 200px;
}

#emailSubmit {
    margin-left: 15px;
}

.emailFooter {}