/**
 * _geocoder.scss
 * Style search bar for geocoding addresses
 */

.geocoder-container {
    position: absolute;
    top: 70px;
    left: 60px;
}

#searchBar_input {}

.simpleGeocoder#searchBar .esriGeocoderContainer {}

.esriGeocoder, .esriGeocoderResults {}

.esriGeocoderContainer {
    z-index: 100 !important;
}