/**
 * _helpSplash.scss
 * Style help/splash screen modal that displays on initial load
 */

.appHelpModal {
    width: 80%;
    height: auto;
    max-height: 75%;
    margin: auto;
    max-width: 840px;
}

/* Important part */
.modal-dialog {
    overflow-y: initial !important;
}

.helpModal-body {
    height: 50vh;
    max-height: 432px;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.appHelp {
    color: $text-color;
}

.appHelpFooter {}

.closeSplash {}

.dontShowText {
    margin-right: 15px;
}

#colorRamp {
    text-align: left;
    padding: 10px;
}

.logo {
    max-height: 50px;
    max-width: 90%;
    display: inline-block;
}

.logo-doc {
    max-height: 65px;
    display: inline-block;
}

@media (max-width: 800px) {
    .modal-dialog {
        margin: 0px;
        min-width: 333px;
    }

    .appHelpModal {
        width: 95%;
        max-height: 95%;
        margin: auto;
        max-width: 840px;
    }

    .helpModal-body {
        height: 65vh;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #solarLogo {
        text-align: center;
    }

    #website {
        text-align: center;
    }
}