// .resultsSmall-container{
//   height:300px;
// }

// .report-container{
//   // visibility: hidden;
//   position: absolute;
//   top:200px;
//   left:200px;
//   height:500px;
//   width:500px;
// }