#headerBar {
    height:50px;
    width:100%;
    background: $primary-color;
    z-index:40;
    border-bottom:1px solid $border-color
}

.appTitle {
  color: $secondary-color;
  font-size: 18px;
  display: inline-block;
}

.appIcon {
  display: inline-block;
}

.finishedNearbySolarRow, .finishedDrawSolarArrayRow, .toolbarDrawSolarArrayRow {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 100;
}

.toolbarDrawSolarArrayRow {
  /* overwrite height */
  top: 113px
}

.finishedNearbySolarRow button, .finishedDrawSolarArrayRow button, .toolbarDrawSolarArrayRow button{
  /* override btn-solar margin */
  margin:0;
}

#basemapDropdownContent, #vectorLayersDropdownContent {
  top:50px;
  width: 450px;
}

.basemapGrid{
  height: 100px;
}

#basemapSelectorText, #vectorLayersSelectorText {
  color: $text-color;
  font-size: 24px;
  padding-left: 10px;
}

.basemapText {
  line-height: 100px;
  font-size: 18px;
}

.vectorText {
  font-size: 18px;
  color: $text-color;
}

/* Controls active basemap in both menu versions */
.dropdown-menu li.activeButton {
  background-color: $link-color;
  /* add right margin to match default li bootstrap style*/
  margin-right: 10px
}

ul.dropdown-menu li {
    margin-left:10px;
    margin-right:10px;
}

// .dropdown-menu li.activeButton >a {
//   color: black;
// }
//

#menuDropdown {
  width: 275px;
}

#menuDropdownSmall {
  width: 325px;
}

.menuSmallToggle {
  display: inline-block;
}

.menuSmallTopic {
  height: 30px;
  color: $text-color;
  // font-size: 16px;
}

.menuTopic {
  color: $active-color;
  font-size: 16px;
  font-weight: bold;
  padding-left:10px;
}

.menuItem {
  padding-left:25px;
}

#vectorLayersDropdown img{
  height:28px;
  width:28px;
}

// .activeButton {
//     color:#474343;
//     background-color:#fff
// }


// input#searchBar {
//     padding-top:8px!important
// }

// input#searchBar.form-control {
//     margin-top:0!important;
//     height:40px!important
// }

.helpMenu a {
    color: $text-color;
}

.helpMenu a:hover {
  color: $link-color !important;
  text-decoration:none
}

// .activeButton.menuItem {
//   background-color:red;
// }

#helpImageContainer {
    // display:inline-block
}

// .helpImage {
//     // width:50%;
//     float:left;
//     display: block;
// }

.helpImage img {
    height:30px;
    width:auto;
    margin-bottom: 10px;
}

.homeFindButtons {
  margin-top: 5px;
}

.baseMapToggle {
  padding-top: 5px;
}

.headerColorRamp {
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerColorRampImg {
  height:50px;
}

.toggle{
  margin-right:20px;
}

 .vectorRow{
  margin-bottom: 5px;
 }

