#headerBar {
    height:50px;
    width:100%;
    background: $primary-color;
    z-index:40;
    border-bottom:1px solid $border-color
}

.appTitle {
  color: $secondary-color;
  font-size: 18px;
  display: inline-block;
}

.appIcon {
  display: inline-block;
}

#finishedNearbySolarButton {
  display:none;
}

// .homeButton, #currentLoc, #menuButton {
//   border:none;
// }

#basemapDropdownContent, #vectorLayersDropdownContent {
  top:50px;
  width: 410px;
}

.basemapGrid{
  height: 100px;
  // width: 100px;
}

#basemapSelectorText, #vectorLayersSelectorText {
  color: $text-color;
  font-size: 24px;
  padding-left: 10px;
}

.basemapText {
  line-height: 100px;
  font-size: 18px;
}

.vectorText {
  font-size: 18px;
  color: $text-color;
}

/* Controls active basemap in both menu versions */
.dropdown-menu li.activeButton {
  background-color: $active-color;
}

ul.dropdown-menu li {
    margin-left:10px
}

// .dropdown-menu li.activeButton >a {
//   color: black;
// }
// 

#menuDropdown {
  width: 275px;
}

.menuTopic {
  color: $text-color;
  font-size: 16px;
  padding-left:10px;
}

.menuItem {
  padding-left:25px;
}

#vectorLayersDropdown img{
  height:28px;
  width:28px;
}

// .activeButton {
//     color:#474343;
//     background-color:#fff
// }


// input#searchBar {
//     padding-top:8px!important
// }

// input#searchBar.form-control {
//     margin-top:0!important;
//     height:40px!important
// }

.helpMenu a {
    color: $text-color;
}

.helpMenu a:hover {
  color: $link-color !important;
  text-decoration:none
}

// .activeButton.menuItem {
//   background-color:red;
// }

#helpImageContainer {
    // display:inline-block
}

// .helpImage {
//     // width:50%;
//     float:left;
//     display: block;
// }

.helpImage img {
    height:30px;
    width:auto;
    margin-bottom: 10px;
}

.homeFindButtons {
  margin-top: 5px;
}

.baseMapToggle {
  padding-top: 5px;
}

.headerColorRamp {
  height:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.toggle{
  margin-right:20px;
}

 .vectorRow{
  margin-bottom: 5px;
 }

