#reportModal {
  width: 80%;
  max-width: 960px;
  margin: auto;
  height: auto;
  max-height: $modalHeight;
}

.reportModal-body {
  max-height: -webkit-calc(#{$modalHeight} - (#{$headHeight} + #{$footHeight}));
  max-height: -moz-calc(#{$modalHeight} - (#{$headHeight} + #{$footHeight}));
  max-height: calc(#{$modalHeight} - (#{$headHeight} + #{$footHeight}));
  height: -webkit-calc((#{$modalHeight} - 5vh) - (#{$headHeight} + #{$footHeight}));
  height: -moz-calc((#{$modalHeight} - 5vh) - (#{$headHeight} + #{$footHeight}));
  height: calc((#{$modalHeight} - 5vh) - (#{$headHeight} + #{$footHeight}));
  overflow-y: auto; 
}

.customizeReportForm, .customizeSolarCalculatorForm {
  display: none;
}

#reportHeader {
  height:$headHeight;
}
.reportFooter {
  height:$footHeight;
}

#reportHeader img {
  float: left;
  height: $headHeight - 20px;
}

#reportHeader .modal-title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  font-family: $font;
  padding-left: 0px;
}

#reportSolarMap-container, #reportAerialMap-container {
  width: 400px;
  height: 400px;
  // margin-left:25%;
  // margin-right: 25%;
  margin-top:20px;
  position: relative;
}

#reportAngleControls {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 100;
  width:115px;
}

#reportAngleBox {
  width: 50px;
  text-align: center;
}

#siteImagesRow {
  margin-bottom: 30px;
}

.reportSiteTitle {
  padding-top:8px;
}

.reportHeading {
  font-size: 1.5em;
  font-weight: bold;
  font-family: $font;
  // margin-bottom: 15px;
}

.reportHisto text {
    fill: $overlay;
}

.reportTitle {
  margin-left:20px;
}

.reportTopicDescription{
  padding-left:3%;
  margin-bottom: 10px;
}

.reportTable tbody, tr, td{
  color: $overlay;
}

.reportTable{
  width: 250px;
}

.reportTable {
  height:100%;
}

.editSiteDetailsModal, .editSolarCalculatorModal{
  width: 60%;
  margin: auto;
  height: 60%;
}

.editSolarCalculator {
  cursor: pointer;
}

.userVal {
  font-weight: bold;
  color: $doc-green;
}

.outputVal {
  font-weight: bold;
  color: $link-color;
}

// #reportSolarMap-container_root, #reportAerialMap-container_root{
//   margin-left: 30px;
// }
