#viewReport a:visited, #viewReport a:hover, #viewReport a:link, #viewReport a:active{
    font-size: 18px;
  color: #fff;
  text-decoration:none;
}

#resultsSmall button a{
    font-size: 14px;
    color: $text-color;
    text-decoration: none;
}

.badData {
    color: $brand-primary;
    cursor: pointer;
}

// #emailReport a:visited, #emailReport a:hover, #emailReport a:link, #emailReport a:active{
//   font-size: 18px;
//   color: #fff;
//   text-decoration:none;
// }

.resultsDisplay {
    display:inline-block;
    font-size:14px;
   /* background-color:#474343; */
    color:#fff;
    z-index:5;
    padding-top:15px;
    margin-left:50px
}

// .resultsTable {
//     margin-left:50px
// }

.resultsButtonToolbar{
    float:right;
    margin-top: 3px;
}

#resultsSmall {
    // display:none;
    background-color:$overlay;
    font-size:18px;
    color:#fff;
    z-index:299;
    border-top:1px solid #fff;
    height:400px;
    width:100%;
    position:absolute;
    bottom: 0;

    // Add top gutter to match right/left
    padding-top:15px;
}

.resultsGeneral{
    text-align:center;
}

.chartTitle{
    text-align: center;
    padding-left: 5px;
}

.resultHeader{
    font-weight: bold;
    margin-top: 10px;
    color: $primary-color;
}

.valueHelp{
    color: $link-color;
    font-weight: bold;
    font-size: 18px;
    padding: 3px;
}

#closeResults{
    float:left;
}

.reportControls {
    float:left;
    width:130px;
    margin-top:20px;
}

.resultsTables {
    height:300px;
    overflow:auto;
}

.gradient {
    height: 40px;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141414+0,bd4600+50,ffffc4+100 */
    background: #141414; /* Old browsers */
    background: -moz-linear-gradient(left,  #141414 0%, #bd4600 50%, #ffffc4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#141414), color-stop(50%,#bd4600), color-stop(100%,#ffffc4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #141414 0%,#bd4600 50%,#ffffc4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #141414 0%,#bd4600 50%,#ffffc4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #141414 0%,#bd4600 50%,#ffffc4 100%); /* IE10+ */
    background: linear-gradient(to right,  #141414 0%,#bd4600 50%,#ffffc4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#ffffc4',GradientType=1 ); /* IE6-9 */
}

.showGradient {
  box-shadow: 0px 0px 0px 2000px black;   /* white or whatever color you like */
  background-image: none !important;
  background-color: transparent !important;
}

.showGradient>span {
    line-height: 40px;
}

.zeroPercent {
    float:left;
    margin-right: 5px;
}

.hundredPercent {
    float:right;
    margin-left: 5px;
}

// .hideGradient {
//     background-color: black;
// }
