/* Original branding */
// charcoal
$primary-color: #474343;
// white
$secondary-color: #fff;
//white
$border-color: #fff;
//white
$text-color: #fff;
$active-color: #C0C0C0;
// black 75% opacity;
$overlay: rgba(0,0,0,.85);
// font
$font: Trebuchet MS;



/* Made in Minnesota Branding */
// Green
// $primary-color: #549125;

// $secondary-color: #fff;

// $border-color: #fff;

// $text-color: #fff;

// $active-color: #C0C0C0;
// // Green
// $overlay: rgba(84,145,37,.85);
// // 
// // $text-color: #fff
// $font: elvetica, Arial, sans-serif;