/* Original branding */
// charcoal
$primary-color: #474343;
// white
$secondary-color: #fff;
// orange
$link-color: #ff7400; //or #F65D23 ?
//white
$border-color: #fff;
//white
$text-color: #fff;
$active-color: #C0C0C0;
// black 85% opacity;
$overlay: rgba(0,0,0,.75);
// font
$font: Trebuchet MS;

// doc
$doc-green: #549125;
$doc-gray: #616161;
$doc-blue: #217BDB;

$close-color: #fff;

// report
$headHeight: 85px;
$footHeight: 60px;
$modalHeight: 90vh;

/* Made in Minnesota Branding */
// Green
// $primary-color: #549125;

// $secondary-color: #fff;

// $border-color: #fff;

// $text-color: #fff;

// $active-color: #C0C0C0;
// // Green
// $overlay: rgba(84,145,37,.85);
// // 
// // $text-color: #fff
// $font: elvetica, Arial, sans-serif;