/**
 * _variables.scss
 * Set Sass variables here
 */

/* Original branding */
// charcoal
$primary-color: #474343;

// white
$secondary-color: #fff;

// orange or #F65D23
$link-color: #ff7400;

//white
$border-color: #fff;

//white
$text-color: #fff;
$active-color: #C0C0C0;

// black 85% opacity;
$overlay: rgba(0, 0, 0, 0.75);

// font
$font: Trebuchet MS;

// doc
$doc-green: #003f6b;

// actually now new blue color, DOC branding changed
$doc-gray: #616161;
$doc-blue: #3b84b8;

$close-color: #fff;

// report
$headHeight: 85px;
$footHeight: 60px;
$modalHeight: 90vh;