<div id="calculator">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10">
                <div class="calculatorTitle">
                    Solar Calculator
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-danger" id="closeCalculator">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        Average Monthly Electric Bill
                    </li>
                    <li>
                        System Size
                    </li>
                    <li>
                        System Cost
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>